* {
	font-family: Arial;
	margin: 0;
}

html,
body {
	max-height: 100%;
}

#root {
}

ul,
ol {
	padding-left: 0;
}

ul {
	list-style-type: none;
}

hr {
	border-color: #000;
	margin-left: 16px;
	margin-right: 16px;
}

#head {
	text-align: center;
	padding: 8px;
	font-size: 100px;
	font-family: "Times New Roman";

	a {
		font-family: "Times New Roman";
		text-decoration: none;
	}
}

#cont {
	padding: 8px;

	> div {
		padding: 8px;

		* {
			margin: 8px;
		}
	}

	#body {
		display: flex;

		#guide {
			overflow-y: auto;
		}
	}
}

// new
#new {
	padding: 8px;

	> * {
		margin: 8px;
	}
}

// idx
#index {
	padding: 8px;
	height: calc(770px);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 26px;

	div {
		padding: 8px;

		h1,
		li {
			margin: 8px;
		}

		h1 {
			font-size: 40px;
		}
	}
}

#nav {
	display: flex;
	justify-content: space-evenly;
}

#new {
	div {
		input {
			flex-grow: 1;
		}
	}
}
